.body {
    margin: auto;
    background: url('./img/back1.jpg');
    background-size: contain;
    max-width: 1000px;
    width: 100%;
    height: 100%;
    color: #000000;
    background-repeat: no-repeat;
    min-width: 1000px;
}



body{
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-around;
    background: RGB(178,174,251);
    max-width: 2000px;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-right: -100px;
    margin-top: 10px;
    padding-bottom: 5px;
    padding-right: 18px;
    margin-bottom: 200px;
}


.menu-list {
    display: flex;
    list-style-type: none;
}

.menu-item:not(:last-child) {
    margin-right: 63px;
}


.menu-item a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 50px;
}


.active {
    font-weight: bold;
}


.main-text {
    font-weight: 10px;
    font-size: 20px;
    line-height: 30px;
}

.main {
    max-width: 400px;
    margin-left: 100px;
    margin-top: 250px;
}


.logo {
    margin-left: -150px;
}




.news{
    margin-top: 100px;
    font-size: 20px;
}



  footer {
    padding-top: 5px;
    background: RGB(178,174,251);
    color: white;
    width: 100%;
    left: 0px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
    margin-bottom: -20px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  a {
    color: #00aaff;
  }

  .news1{

    margin-top: 100px;
    font-size: 20px;
  }
  .pop{

    width: 100%;
    left: 0px;
    margin-top: 100px;
    background-size: 100%;

  }

  hr{
    background-color: RGB(178,174,251);
    color: RGB(178,174,251);
    height: 2px;
    margin-top: -10px;
  }


  .demo{
    background: RGB(178,174,251);
  }

  .header1 {
    display: flex;
    justify-content: space-around;
    background: RGB(178,174,251);
    max-width: 3000px;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-right: -100px;
    margin-top: -10px;
    padding-bottom: 5px;
    padding-right: 18px;
    margin-bottom: 20px;

}


.header2 {
    display: flex;
    justify-content: space-around;
    background: RGB(178,174,251);
    max-width: 3000px;
    width: 100%;
    height: 100%;
    padding-right: 18px;
    margin-bottom: 20px;
    padding-bottom: 0px;
    margin-top: -10px;
    height: 70px;
}


.header3 {
    display: flex;
    justify-content: space-around;
    background: RGB(178,174,251);
    max-width: 3000px;
    width: 100%;
    height: 100%;
    padding-right: 18px;

}

.header3 nav{
    padding-bottom: -10px;
    padding-top: 20px;   
}

#demo{
    margin-bottom: -50px;
}

.why{
    margin-top: 60px;
}



.card1 {
    width: 305px;
    height: 455px;
    position: relative;
    /* относительное позиционирование родительского элемента, чтобы дочерние .product, .description располагать внутри  card */
    border: 2px solid RGB(178,174,251);
    margin-bottom: 10px;
    background-color: RGB(178,174,251);
}

.product1,
.description1 {
    width: 100%;
    /* ширина 100% родителя */
    height: 100%;
    /* высота 100% родителя */
    position: absolute;
    /* абсолютное позиционирование элементов внутри родителя с классом card */
    left: 0;
    /* координата позиционирования слева 0px*/
    top: 0;
    /* координата позиционирования сверху 0px */
    text-align: center;
    background-color: #fff;
}

/* Стили для кнопки описательного блока карточки товара */
.description1 a {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #f00a30;
    font-size: 20px;
}

.description1 h2, .description1 p{
    font-size: 18px;
}

.product1,
.description1 {
    backface-visibility: hidden;
}

.description1 {
    box-sizing: border-box;
    padding: 40px;
    transform: rotateY(180deg);
    /* поворот блока с описанием на 180 град, прячем его в начальном состоянии, без наведения курсора мыши */
}


.product1,
.description1 {
    transition: 1s;
}

.card1:hover .product1 {
    transform: rotateY(180deg);
    /* разворачиваем блок с изображением на 180 градусов */
}

.card1:hover .description1 {
    transform: rotateY(360deg);
    /* возвращаем блок*/
}


.link {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    background-color: #550D0D;
    border-radius: 5px;
    color: #ffffff;
    transition: all 0.8s ease 0s;
    width: 160px;
    height: 40px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -7px;
    margin-bottom: -7px;
}

.link:hover {
    background-color: #e53935;
}


.button-order {
    background: #550D0D;
    border-radius: 5px;
    color: #fff;
    width: 160px;
    height: 40px;
}

.price{
    font-size: 20px;
    text-align: center;
}



#disblock{
	margin: auto;
	padding: 50px;
    background: RGB(178,174,251);
	width: 700px;
	border: double 5px;
	padding: 65px;
	margin: auto;
	height: 600px;
	text-align: center;
	margin-bottom: 50px;
  font-size: 15px;
}

#disblock h1{
  font-size: 20px;
}

#contact{
    text-align: center;
    font-size: 30px;
}

.col-12_{
    margin-top: 10px;
}


.container {
    display: flex; /* определяем контейнер как flex-контейнер */
    justify-content: space-between; /* распределяем элементы по горизонтали */
    
    width: 100%; /* ширина контейнера = ширина браузера */
    margin: 20px auto; /* внешний отступ сверху и снизу по 20px, слева и справа - auto, тем самым центрируя контейнер */
   }                                             
   
   .card {
    width: 25%; /* ширина карточки = 25% от контейнера */
    max-width: 300px; /* максимальная ширина 300px */
    border: 2px solid RGB(178,174,251); /* черная рамка толщиной в 1px */
    padding: 20px; /* внутренний отступ с каждой стороны по 20px */
    background-color: white;
    margin: 1px;
   }
   
   .card__image {
    height: 120px; /* ширина 120px */
    width: 100%; /* ширина блока под изображение 100% */
    max-width: 180px; /* максимальная ширина блока под изображение 180px */
    background-color: #a2a2a2; /* серая заливка блока под изображение */
    margin: auto; /* автоматические отступы, центрируем блок  под изображение */
   }
   
   .card__description {
    margin-top: 15px; /* внешний отступ в 15px */
    text-align: center; /* выравниваем текст по центру */
   }
   
   /* Медиазпросы */
   @media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
      /* Дополнительные стили для маленьких экранов */
    }
  
    .header {
      display: none; /* Пример: скрыть элемент в заголовке на маленьких экранах */
    }
  
    /* Другие стили и правила для маленьких экранов */
  }

  @media only screen and (max-width: 750px) {
    body {
      font-size: 14px;
      /* Дополнительные стили для маленьких экранов */
    }
  
    .header {
      display: none; /* Пример: скрыть элемент в заголовке на маленьких экранах */
    }
  
    /* Другие стили и правила для маленьких экранов */
  }


  /* Стили для экранов шириной более 1200 пикселей */
  @media only screen and (min-width: 1200px) {
    body {
      font-size: 18px;
      /* Дополнительные стили для больших экранов */
    }
    footer{
        padding-bottom: 10px;
    }
  
    .header {
      display: block; /* Пример: отображение элемента в заголовке на больших экранах */
    }
  
    /* Другие стили и правила для больших экранов */
  }


  @media only screen and (min-width: 2000px) {
    body {
      font-size: 18px;
      /* Дополнительные стили для больших экранов */
    }
    footer{
        padding-bottom: 30px;
        margin-bottom: -10px;
        
    }

    .news{
        margin-top: 500px;
    }
  
    .header {
      display: block; /* Пример: отображение элемента в заголовке на больших экранах */
    }
  
    /* Другие стили и правила для больших экранов */
  }
