.body {
    margin: auto;
    background: url('./img/back1.jpg');
    max-width: 1000px;
    width: 100%;
    height: 100%;
    color: #000000;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
    margin-bottom: 200px;
    background: RGB(178,174,251);
    max-width: 2000px;
    width: 100%;
    height: 100%;

}

.menu-list {
    display: flex;
    list-style-type: none;


}

.menu-item:not(:last-child) {
    margin-right: 63px;
}


.menu-item a {
    text-decoration: none;
    color: aliceblue;
    margin-right: 50px;
}


.active {
    font-weight: bold;
}


.main-text {
    font-weight: 10px;
    font-size: 20px;
    line-height: 30px;
}

.main {
    max-width: 500px;
}


.logo {
    margin-left: -150px;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: 20px auto;
    margin-left: 100px;
}

.card {
    width: 150px;
    border: 2px solid RGB(178,174,251);
    padding: 20px;
    margin-left: 5px;
    height: 300px;
    background-color: RGB(178,174,251);
    
}

.card_image {
    height: 120px;
    background-color: #a2a2a2;
    margin: auto;
}

.card_description {
    margin-top: 10px;
    text-align: center;
}


.news{
    margin-top: 100px;
    font-size: 20px;
}



  footer {
    padding-top: 5px;
    background: RGB(178,174,251);
    color: white;
    width: 100%;
    left: 0px;
    margin-top: 100px;
    position: absolute;
    text-align: center;
  }
  a {
    color: #00aaff;
  }

  .news1{

    margin-top: 100px;
    font-size: 20px;
  }
  .pop{

    width: 100%;
    left: 0px;
    margin-top: 100px;
    background-size: 100%;

  }

  .hr{
    background-color: RGB(178,174,251);
    color: RGB(178,174,251);
    height: 1px;
    margin-top: -10px;
  }


  .demo{
    background: RGB(178,174,251);
  }

  .header1 {
    display: flex;
    justify-content: space-around;
    background: RGB(178,174,251);
    max-width: 3000px;
    width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-right: -100px;
    margin-top: -10px;
    padding-bottom: 5px;
    padding-right: 18px;
    margin-bottom: 20px;

}


.header2 {
    display: flex;
    justify-content: space-around;
    background: RGB(178,174,251);
    max-width: 3000px;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    padding-right: 18px;
    margin-bottom: 20px;

}

#demo{
    margin-bottom: -50px;
}

.why{
    margin-top: 60px;
}



.card1 {
    width: 305px;
    height: 455px;
    position: relative;
    /* относительное позиционирование родительского элемента, чтобы дочерние .product, .description располагать внутри  card */
    border: 2px solid RGB(178,174,251);
    margin-bottom: 10px;
    background-color: RGB(178,174,251);
}

.product1,
.description1 {
    width: 100%;
    /* ширина 100% родителя */
    height: 100%;
    /* высота 100% родителя */
    position: absolute;
    /* абсолютное позиционирование элементов внутри родителя с классом card */
    left: 0;
    /* координата позиционирования слева 0px*/
    top: 0;
    /* координата позиционирования сверху 0px */
    text-align: center;
    background-color: #fff;
}

/* Стили для кнопки описательного блока карточки товара */
.description1 a {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #f5dde1;
    font-size: 20px;
}

.description1 h2, .description1 p{
    font-size: 18px;
}

.product1,
.description1 {
    backface-visibility: hidden;
}

.description1 {
    box-sizing: border-box;
    padding: 40px;
    transform: rotateY(180deg);
    /* поворот блока с описанием на 180 град, прячем его в начальном состоянии, без наведения курсора мыши */
}


.product1,
.description1 {
    transition: 1s;
}

.card1:hover .product1 {
    transform: rotateY(180deg);
    /* разворачиваем блок с изображением на 180 градусов */
}

.card1:hover .description1 {
    transform: rotateY(360deg);
    /* возвращаем блок*/
}


.link {
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    background-color: #550D0D;
    border-radius: 5px;
    color: #ffffff;
    transition: all 0.8s ease 0s;
    width: 140px;
    height: 30px;
    font-size: 20px;
    padding-top: 5px;
}

.link:hover {
    background-color: #e53935;
}


.button-order {
    background: #550D0D;
    border-radius: 5px;
    color: #fff;
    width: 150px;
}

.price{
    font-size: 20px;
    text-align: center;
}